@charset "UTF-8";

.center{
	width: 1366px;
	margin: auto;
}

.top_font {
    color: #1d3974;
    position: relative;
    top: 16px;
    left: 50px;
}


.top_font1 {
    color: white;
    position: relative;
    top: 36px;
    left: 35px;
    font-size: 12px;
}

.top_font2 {
    color: white;
    position: relative;
    font-size: 14px;
    left: 1240px;
    top: -95px;
}

.top_font3 {
    color: white;
    position: relative;
    top: 10px;
    left: 210px;
    font-size: 12px;
}

.bottom {
    height: 40px;
    background-color: #015e9d;
    width: 100%;
}

.middle{
	height:600px;
}
.line{
	width: 100%;
	display: inline-block;
	border-top: 7px solid rgb(13, 162, 169);
	position: relative;
	
}

.bottom_image {
    position: relative;
    float: left;
    left: 1220px;
    top: -12px;
}

.bottom_font {
    position: relative;
    top: -8px;
    color: white;
    font-size: 12px;
}
