@CHARSET "UTF-8";

.dataTable{
	border-collapse:collapse;
}

.dataTable, .dataTable td, .dataTable th
{
	border:1px solid #ddd;
}

.dataTable td{
	padding: 8px 8px 4px 4px;
	line-height: 1.428571429;
}
.dataTable .title{
	background: #ddd;
	color: #000;
}